@font-face {
    font-family: TitilliumWeb;
    src: url('../../assets/fonts/TitilliumWeb-Light.ttf');
  }

  .banner {
    // position: absolute;
    // width: 100%;
    // top:0;
    // left: 0px;
    min-height: 28vh;
    background-color:#5cb85c ;
    box-shadow: inset 0 8px 8px -8px rgb(0 0 0 / 30%), inset 0 -8px 8px -8px rgb(0 0 0 / 30%);
    color: #fff;
    // margin-top: 60px;
    font-family: TitilliumWeb;

    .banner_block{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 28vh;

        & .banner_title{
          font-size: 50px;
          font-weight: 700;
        }

        & .banner_text{
            font-size: 25px;
        }
      }
  }

